{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
<!DOCTYPE html>
<html lang="en">
{%if user.is_authenticated%}
<head>

    <meta charset="UTF-8">
    <title>Отправьте своё сообщение</title>
    <h1>Отправьте своё сообщение</h1>
    <a href="{%url 'view'%}">Вернуться к просмотру</a>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' size='small'%}
    {% buttons submit='Отправить сообщение' %} {%endbuttons%}
</form>
</body>
</html>
{%else%}
<p>Not authenticated</p>
{%endif%}