<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Последние сообщения</title>
    <p><b>Последние сообщения <a href ="{%url 'send'%}">Отправить сообщение</a></b></p>
</head>
<body>
{%for ms in mesage%}
<div>
<ul>
    <li>{{ms.text}} - <a href="{% url 'dl' ms.pk%}">delete</a></li>
    <p>{{ms.written_by}}</p>
</ul>
</div>

{%endfor%}
</body>
<div>
    {% if page.has_previous %}
    <a href="?page={{page.previous_page_number}}">&lt;</a>
    &nbsp;&nbsp;| &nbsp;&nbsp;
    {%endif%}
    {% if page.has_next %}
    &nbsp;&nbsp;| &nbsp;&nbsp;
    <a href="?page={{page.next_page_number}}">&gt;</a>
    {%endif%}
</div>

<div>
    <a href="{%url 'create'%}">Registr</a> <a href="{%url 'login'%}">Login</a>
    <form style="display:inline-block" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
<button type="submit">Выйти</button></form>

</div>
</html>