{%load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% load filtersandtags %}
<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Последние сообщения</title>
    <p><b>Последние сообщения <a href ="{%url 'send'%}">Отправить сообщение</a></b>{% cur %}</p>
</head>
<body>
{%for ms in mesage%}
{% url 'dl' ms.id as delete_url%}

<div class="note">
    <h2>{%bootstrap_label ms.text label_class='list-group-item'%}</h2>
</div>
<div class="label">
    <button text-align:right;><a href="{{ms.id}}">Delete</a></button>
</div>
<div class="list">
<h6>{{ms.written_by}}</h6>
</div>
{%endfor%}
</body>

<div>
    {%bootstrap_pagination page size='small' %}
</div>
<div>
    <a href="{%url 'create'%}">Registr</a> <a href="{%url 'login'%}">Login</a>
    <form style="display:inline-block" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
<button type="submit">Выйти</button></form>

</div>
<!--{% ulist '1' '2' '3' '4' '5' '6' '7' '8' '9' %}-->
</html>
